############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

###########
## Linux
###########

# Get rid of tedious temp files
*~

#############
# Mac crap
#############
.DS_Store

